<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>تسجيل الدخول</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="loginPage">
  <ion-grid>
    <ion-row margin-top padding-top>
      <ion-col text-center>
        <img src="assets/icon.png" alt="">
        <h4>ماتشاتي</h4>
      </ion-col>
    </ion-row>

    <ion-row margin-top padding-top>
      <ion-col>
        <button ion-button full icon-left color="facebook" (click)="facebook_login()">
          <ion-icon name="logo-facebook"></ion-icon>تسجيل الدخول بالفيسبوك
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button full icon-left (click)="google_login()">
          <ion-icon name="logo-google"></ion-icon>تسجيل الدخول بجوجل
        </button>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
