matches {

}
.my-spinner{
  width: 40%;
  margin: auto;
  margin-top: 30%;
}
.my-spinner ion-spinner * {
  width: 150px;
  height: 150px;
}

#matches .item-inner{
  border: none !important;
}

#matches ion-row{
  margin-bottom: 5px !important;
}

#matches h3{
  color: #e1e1e;
  font-weight: bolder;
}

#matches h6{
  color:#d62d20;
}

#matches p{
  font-weight: bold;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
