<div class="my-spinner" *ngIf="loading">
  <ion-spinner name="ios"></ion-spinner>
</div>

<ion-list id="matches">
  <ion-row text-center *ngFor="let match of matches">

    <ion-col ion-item col-6>
      <ion-avatar item-right>
        <img src="http://97.74.4.85:5000/{{match.away.image}}" alt="">
      </ion-avatar>
      <p text-right text-wrap>{{match.away.name}}</p>
    </ion-col>

    <ion-col ion-item col-6>
      <ion-avatar item-left>
        <img src="http://97.74.4.85:5000/{{match.home.image}}" alt="">
      </ion-avatar>
      <p text-left text-wrap>{{match.home.name}}</p>
    </ion-col>


    <ion-col ion-item text-center col-12>
      <h3 text-wrap *ngIf="match.status==2">{{match.time}}</h3>
      <h3 text-wrap *ngIf="day!=2&&match.status!=2">{{match.result}}</h3>
      <h6 text-wrap> {{match.championship}}</h6>
      <a  [href]="match.link" *ngIf="day!=2&&match.status==1" ion-button>شاهد المباره</a>
      <button *ngIf="day!=2&&match.status==2" ion-button>المباره لم تبدأ</button>
        <div class="video-container" *ngIf="(day!=2&&match.status==0&&match.link) || (match.status!=2&&day!=2&&match.link_type==1&&match.link)">
          <iframe width="100%" height="315" [src]="match.link" frameborder="0" allowfullscreen></iframe>
        </div>
    </ion-col>


  </ion-row>
</ion-list>
