<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="share()" icon-only>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>الرئيسيه</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding id="homePage">
  <div padding>
    <ion-segment [(ngModel)]="matches_day">
      <ion-segment-button value="tomorrow">
        غداً
      </ion-segment-button>

      <ion-segment-button value="today">
        اليوم
      </ion-segment-button>

      <ion-segment-button value="yasterday">
        أمس
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="matches_day">
      <matches *ngSwitchCase="'tomorrow'" [day]="2"  [loading]="loading"></matches>
      <matches *ngSwitchCase="'today'" [day]="1" [loading]="loading"></matches>
      <matches *ngSwitchCase="'yasterday'" [day]="0"  [loading]="loading"></matches>
  </div>
</ion-content>
