page-home {

}


#homePage{
  background: #000;
}

#homePage .segment-activated{
  background-color: #FFF !important;
  color: #d62d20 !important;
}

#homePage .segment-button{
  border: 1px solid #FFF;
  border-radius: 5px;
  font-size: 17px;
}

#homePage .segment-button:nth-child(2){
  border-radius: 0 !important;
}

#homePage .segment-button:nth-child(1){
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
#homePage .segment-button:nth-child(3){
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
