<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>إعدادات</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="settingsPage">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h4 text-center>إختر الفرق المفضله للمتابعه</h4>
      </ion-col>
    </ion-row>

    <ion-row margin-top>
      <ion-col dir="rtl">
        <ion-list no-lines>
          <ion-item *ngFor="let team of teams">
            <ion-checkbox  [(ngModel)]="team.checked"></ion-checkbox>
            <ion-avatar item-left>
              <img src="http://97.74.4.85:5000/{{team.image}}" alt="">
            </ion-avatar>
            <ion-label>{{team.name}}</ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <button ion-button full (click)="save()">
    حفظ
  </button>
</ion-footer>
