<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-toolbar>
    <ion-searchbar dir="rtl" placeholder="ابحث عن خبر"></ion-searchbar>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content padding id="newsPage">
  <ion-list>
    <ion-item>
      <ion-avatar item-right>
        <img src="img/avatar-cher.png">
      </ion-avatar>
      <h2 text-right>Cher</h2>
      <p text-right>Ugh. As if.</p>
    </ion-item>
  </ion-list>
</ion-content>
