<!--
  Generated template for the ShareAppPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-title>شارك</ion-title>
    <ion-buttons right>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding id="share-app">
  <ion-grid>
    <ion-row margin-top padding-top>
      <ion-col text-center>
        <img src="assets/icon.png" alt="">
        <h4>ماتشاتي</h4>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <button ion-button icon-only full (click)="share_facebook()">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button color="twitter" ion-button icon-only full (click)="share_twitter()">
          <ion-icon name="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button color="insta" ion-button icon-only full (click)="share_instgram()">
          <ion-icon name="logo-instagram"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button color="email" ion-button icon-only full (click)="share_email()">
          <ion-icon name="mail"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button color="whatsapp" ion-button icon-only full (click)="share_whatsapp()">
          <ion-icon name="logo-whatsapp"></ion-icon>
        </button>
      </ion-col>
      <ion-col>
        <button color="sms" ion-button icon-only full (click)="share_sms()">
          <ion-icon name="chatboxes"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
